/* task.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.task-filter {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.text-right {
    text-align: right;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
}

nav .nav-left, .nav-right {
    margin: 2px 20px;
}

nav .nav-left a {
    font-size: 23px;
    color: gray;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.Button {
    display: flex;
    justify-content: end;
    margin: 20px !important;
}

.task-container {
    border: 2px solid rgb(184, 18, 18);
    display: flex;
}

.task-edit form {
    display: flex;
    flex-direction: column;
}

.task-edit form input, label,button {
    margin: 5px 10px!important;
}

.task-list {
    padding: 30px;
}